<%- include('../partials/header') %>
<h1>Skills as of <%= time %></h1>
<ul>
  <% skills.forEach(function(s) { %>
    <li>
      <a href="/skills/<%= s.id %>">
        <%= s.lang %>
      </a>
      -
      <%= s.difficulty %>
    </li>
    <% }); %>
</ul>
<a href="/skills/new">ADD SKILL</a>

<%- include('../partials/footer') %>