<%- include('../partials/edit-header') %> 
<h1>Skill #<%= skill.id %>
</h1>
<p><span>Language:</span> <%= skill.lang %></p>
<p><span>Difficulty:</span> <%= skill.difficulty %></p>
<form action="/skills/<%= skill.id %>?_method=DELETE" method="POST">
  <button type="submit" class="btn btn-primary">DELETE SKILL</button>
</form>

<%- include('../partials/footer') %>